.vscode/
.DS_Store
docs
figures/
data
k_means_clustering/data
CSE512-Project-Phase2-Template-master/target
*.pyc
CSE512-Project-Phase2-Template-master/.idea
CSE512-Project-Phase2-Template-master/project/*
CSE512-Project-Phase2-Template-master/spark-warehouse/*
CSE512-Project-Phase2-Template-master/project
CSE512-Project-Phase2-Template-master/project/build.properties
database/assigenment4/PointQueryOut.txt
database/assigenment4/RangeQueryOut.txt
database/assigenment5/debug.txt
database/assigenment5/parallel_sort_results.txt
database/assigenment6/
database/ml-10M100K/README.html
database/ml-10M100K/allbut.pl
database/ml-10M100K/movies.dat
database/ml-10M100K/ratings.dat
database/ml-10M100K/split_ratings.sh
database/ml-10M100K/tags.dat
database/ml-10M100K/test.dat
database/ml-10m.zip
database/output_city.txt
database/sample.db
